{% extends "base.html" %}

{% block title %}
Smart Resume Analyzer
{% endblock %}

{% block content %}

<section class="hero">

    <div class="hero-left">

        <span class="tag">
            🚀 AI Powered Resume Analysis
        </span>

        <h1>
            Analyze Your Resume Like a Professional
        </h1>

        <p>
            Upload your resume and instantly receive:
        </p>

        <div class="features">

            <div class="feature-card">
                <i class="fa-solid fa-chart-column"></i>
                <span>Resume Score</span>
            </div>

            <div class="feature-card">
                <i class="fa-solid fa-file-circle-check"></i>
                <span>ATS Score</span>
            </div>

            <div class="feature-card">
                <i class="fa-solid fa-brain"></i>
                <span>AI Feedback</span>
            </div>

            <div class="feature-card">
                <i class="fa-solid fa-file-pdf"></i>
                <span>PDF Report</span>
            </div>

        </div>

    </div>

    <div class="hero-right">

        <div class="upload-card">

            <h2>Upload Resume</h2>

            <form
                action="/analyze"
                method="POST"
                enctype="multipart/form-data">

                <label>Resume</label>

                <input
                    type="file"
                    name="resume"
                    required>

                <label>Job Role</label>

                <select name="role">

                    <option>AI Engineer</option>

                    <option>Web Developer</option>

                    <option>Data Analyst</option>

                    <option>Cloud Engineer</option>

                </select>

                <label>Job Description (Optional)</label>

                <textarea
                    name="job_description"
                    rows="7"
                    placeholder="Paste the Job Description here..."></textarea>

                <button type="submit">

                    Analyze Resume

                </button>

            </form>

        </div>

    </div>

</section>

<section class="stats">

    <div class="stat-box">

        <h2>98%</h2>

        <p>ATS Accuracy</p>

    </div>

    <div class="stat-box">

        <h2>4</h2>

        <p>Job Roles</p>

    </div>

    <div class="stat-box">

        <h2>PDF</h2>

        <p>Download Reports</p>

    </div>

    <div class="stat-box">

        <h2>AI</h2>

        <p>Smart Feedback</p>

    </div>

</section>

{% endblock %}